@import "~normalize.css";
@import "./colors";
@import "./fonts";
@import "./header";

html {
  scroll-behavior: smooth;
}

.container{
  width: 1440px;
  margin: 0 auto;
  font-family: SofiaProRegular, SansSerif;
  @media screen and (max-width: 1440px){
    width: 100%;
  }
}

*{
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

#cards{
  .container{
    position: relative;
    border: 2px solid red;
    height: 100vh;
    overflow: hidden;
    .cards-decoration{
      background-image: url("../assets/images/phone.png");
      width: 300px;
      height: 560px;
      position: absolute;
      top: -413px;
      right: 371px;
      transition: all .3s ease;
      @media screen and (max-width: 1260px){
        left: 765px;
      }
    }


  }
}













